.statSec {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    color: inherit;
    margin-bottom: 30px;
}

.statSec .type {
    color: #fff;
    background-color: #8884d8;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
    margin-left: 20px;
}